/*
 * Items
 */

.item {
  display: inline-block;
  margin: 0;
  padding: 5px 0 20px;
  background: none;
  vertical-align: top;
  text-align: center;
}
  .item--2 {width: 49.5%;}
  .item--3 {width: 32.5%;}
  .item--4 {width: 24.5%;}
  .item--5 {width: 20%;}

  .item-image {
    display: block;
    height: 140px;
    line-height: 140px;
  }
    .item-image img {
      vertical-align: middle;
    }

  .item-name {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    font-weight: normal;
    line-height: 1.2em;
    min-height: 2.4em; /* 2 x line-height */
  }