/** MAIN STYLES */
*, *:before, *:after { box-sizing: border-box; }

/** FRODO */
.frodo { color: #0088e3; box-shadow: 0 0 10px 0 rgba(164, 164, 164, 0.9), -15px 0 15px -20px rgba(164, 164, 164, 0.9), 15px 0 15px -20px rgba(164, 164, 164, 0.9); max-width: 400px; position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 11; z-index: -1; opacity: 1; opacity: 0; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.frodo a { text-decoration: none; }

/** FRODO OVERLAY */
.frodo-overlay { position: fixed; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; z-index: -2; opacity: 1; opacity: 0; background-color: rgba(0, 0, 0, 0.7); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

/** FRODO FORM */
.frodo-form { font-family: Arial, Helvetica, sans-serif; display: block; padding: 10px 0; background-color: #FFD716; background-color: #f7f7f7; box-shadow: 0 0 3px 3px #888; border-radius: 2px; }

/** FRODO HEDAER */
.frodo-header { font-size: 20px; color: #FFD716; color: #0088E3; text-transform: uppercase; margin-top: 0; font-weight: bold; padding: 0 38px; }

.frodo-btn-close { color: #000; float: right; font-size: 21px; font-weight: 700; line-height: 1; opacity: 0.2; text-shadow: 0 1px 0 #fff; background: rgba(0, 0, 0, 0); color: #000; border: 0 none; cursor: pointer; padding: 0; -webkit-transition: opacity .3s linear; transition: opacity .3s linear; }

.frodo-btn-close:focus, .frodo-btn-close:hover { color: #000; cursor: pointer; opacity: 0.5; text-decoration: none; }

/** FRODO LOGIN */
/** FRODO SOCIAL */
.frodo-social { padding: 0 20px 10px; margin-left: -1%; margin-right: -1%; text-align: center; }
.frodo-social:after { content: ""; display: block; width: 100%; margin-bottom: -1.2em; margin-bottom: -5px; }

.frodo-provider { display: inline-block; width: 48.5%; width: 50%; text-align: center; vertical-align: top; padding: 1%; }
.frodo-provider a { text-decoration: none; }

.frodo-provider--reset { border: 0 none; height: 0 !important; margin: 0 !important; padding: 0; }

.frodo-log-with { display: block; text-align: center; padding: 10px 0; color: #000; }
.frodo-log-with span { color: #000; }

/** FRODO LOGIN FORM */
.frodo-login-box { margin: 0 auto; border-bottom: 1px solid #dadada; padding: 0 20px 10px; }

.frodo-input { background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 2px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555; display: block; font-size: 14px; height: 34px; line-height: 1.42857; -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; font-size: 16px; margin-bottom: 10px; height: 40px; padding: 0 20px; }

.frodo-input:focus { border-color: #66afe9; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); outline: 0 none; }

.frodo-social-box { margin: 0 auto; padding: 28px; border-bottom: 1px #ccc solid; }

.frodo-social-box a { font-weight: bold; font-size: 18px; padding: 8px; }

.frodo-social-box a i { font-weight: bold; font-size: 20px; }

.frodo-login-footer:after, .frodo-login-footer:before { display: table; content: ""; }
.frodo-login-footer:after { clear: both; }

/** Buttons */
.frodo-links { float: left !important; }
.frodo-links a { color: #8a8a8a; display: block; line-height: 19px; font-size: 12px; outline: none !important; }
.frodo-links a:hover { text-decoration: underline; }

.frodo-btn-submit { float: right !important; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; -moz-user-select: none; background-image: none; border: 1px solid #d43f3a; border-radius: 2px; cursor: pointer; display: inline-block; font-size: 14px; font-weight: 400; line-height: 1.42857; margin-bottom: 0; padding: 6px 12px; text-align: center; vertical-align: middle; white-space: nowrap; background-color: #d9534f; color: #fff; }
.frodo-btn-submit:hover { background-color: #c9302c; border-color: #ac2925; color: #fff; }

/** Helpers */
.frodo-visible { opacity: 1; }

.frodo-hide { display: none !important; }

.frodo-overlay.frodo-visible { z-index: 2; }

.frodo.frodo-visible { z-index: 9999; }

.frodo-no-scroll { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; overflow-x: hidden; }

/** BIN !!! */
body { font-family: "proxima-nova",sans-serif; font-family: Arial, Helvetica, sans-serif; font-size: 16px; }

.wrapper { max-width: 1100px; margin: 40px auto; }

.mt20 { margin-top: 20px; }

/** MEDIA QUERIES */
@media only screen and (max-width: 768px) { .frodo { width: 65%; max-width: none; } }
@media only screen and (max-width: 600px) { .frodo { width: 75%; } }
@media only screen and (max-width: 480px) { .frodo { width: 90%; }
  .frodo-social { margin-left: -2%; margin-right: -2%; }
  .frodo-provider { padding: 2%; }
  .frodo-links a { line-height: 26px; } }
@media only screen and (max-width: 360px) { .frodo { width: 95%; } }
