@charset "UTF-8";
/** MAIN STYLES */
*, *:before, *:after { box-sizing: border-box; }

/*
FRODO */
.frodo { padding: 0 10px 10px; max-width: 360px; height: auto; background-color: #FFD716; color: #0088e3; box-shadow: 0 0 10px 0 rgba(164, 164, 164, 0.9), -15px 0 15px -20px rgba(164, 164, 164, 0.9), 15px 0 15px -20px rgba(164, 164, 164, 0.9); position: fixed; top: 50%; left: 50%; z-index: -1; margin-top: -130px; margin-left: -180px; opacity: 0; }
.frodo a { text-decoration: none; }

.frodo-body:after, .frodo-body:before { display: table; content: ""; }
.frodo-body:after { clear: both; }

.frodo-header { height: 40px; border-bottom: 1px solid rgba(164, 164, 164, 0.5); line-height: 40px; padding: 0 18px; font-size: 0.8em; font-weight: 600; letter-spacing: 0.3em; }

.frodo-text { float: left; text-transform: uppercase; }
.frodo-text span { color: #000; }

.frodo-close { float: right; width: 40px; height: 40px; margin-right: -20px; text-align: center; }
.frodo-close a { color: #505050; font-size: 1.3em; opacity: 0.55; display: inline-block; vertical-align: middle; height: 20px; line-height: 20px; letter-spacing: 0; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); -webkit-transition: all .3s linear; transition: all .3s linear; }
.frodo-close a:hover { -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); color: #333; opacity: 1; }

.frodo-overlay { position: fixed; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; z-index: -2; opacity: 0; background-color: rgba(0, 0, 0, 0.9); }

/** Helpers */
.frodo-visible { opacity: 1; }

.frodo-overlay.frodo-visible { z-index: 1; }

.frodo.frodo-visible { z-index: 9999; }

/* Helpers┬á*/
.frodo-no-scroll { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; overflow-x: hidden; }

.frodo-reset { margin: 0; -ms-overflow-y: hidden; overflow-y: hidden; }

.provider { float: left; width: 33.3333%; padding: 1%; text-align: center; }

/** Buttons */
.btn { width: 100%; }

.azm-btn { margin: 0; }

.azm-btn i { padding-right: 5px; }

/** BIN !!! */
body { font-family: "proxima-nova",sans-serif; font-family: Arial, Helvetica, sans-serif; font-size: 16px; }

.wrapper { max-width: 1100px; margin: 40px auto; }

.mt20 { margin-top: 20px; }

.log-in { color: #333; text-transform: uppercase; }
