@charset "UTF-8";
body { font-family: "proxima-nova",sans-serif; font-size: 16px; }

/*
FRODO */
#frodo a { text-decoration: none; }

.frodo-header { height: 40px; /*border-bottom: 1px solid  #161616;*/ border-bottom: 1px solid rgba(164, 164, 164, 0.5); line-height: 40px; /*padding: 0 28px;*/ padding: 0 18px; font-size: 0.8em; font-weight: 600; letter-spacing: 0.3em; }

.frodo-header .logo { text-transform: uppercase; }

.frodo-header span { color: #000; }

.close { color: #7a7a7a; font-size: 1em; opacity: 0.7; display: inline-block; width: 40px; height: 40px; text-align: right; -webkit-transition: all .3s linear; transition: all .3s linear; }

.close:hover { opacity: 1; }

.wrapper { max-width: 1100px; margin: 40px auto; }

.left { float: left; }

.right { float: right; }

.frodo-panel { padding: 10px 20px 20px; max-width: 360px; height: auto; /*background-color: black;*/ /*background-color: #2D2E82;*/ /*background-color: #f7f7f7;*/ /*background-color: #A1A2C8;*/ background-color: #FFD716; /*color: white;*/ color: #0088e3; box-shadow: 0 0 10px 0 rgba(164, 164, 164, 0.9), -15px 0 15px -20px rgba(164, 164, 164, 0.9), 15px 0 15px -20px rgba(164, 164, 164, 0.9); position: fixed; top: 50%; left: 50%; z-index: 9999; margin-top: -130px; /*margin-left: -150px;*/ margin-left: -180px; }

.login-form { padding: 18px 28px 0 28px; }

.login-form .subtitle { font-size: 0.92em; }

.login-form input { font-size: 1.05em; font-weight: 300; margin-top: 18px; padding: 10px 8px; width: 288px; }

.overlay { position: fixed; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; z-index: -1; opacity: 0; -webkit-transition: all .3s linear; transition: all .3s linear; background-color: rgba(0, 0, 0, 0.88); }

.overlay-visibility { opacity: 1; z-index: 1; }

.hide-panel { display: none !important; }

.log-in { color: #333; text-transform: uppercase; }

/* Helpers */
.mt20 { margin-top: 20px; }

.no-scroll { overflow: hidden; }

.main { /*padding: 26px 28px 22px;*/ padding: 16px 18px 12px; }

.provider { float: left; /*width: 50%;*/ width: 50%; /*padding: 5px;*/ text-align: center; }

*, *:before, *:after { box-sizing: border-box; }
