/*
 * Social Tabs
 */

.socialTabs {
    position: fixed;
    top: 14%;
    left: -250px;
    z-index: 500;
    padding-bottom: 30px;
    * {
        box-sizing: content-box;
    }
}
.socialTabs-tab {
    background: right top no-repeat;
    padding-right: 19px;
    height: 113px;
    width: 250px;
    margin-bottom: -32px;
    z-index: 580;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}
    .socialTabs-tab--open {
        z-index: 590;
        -webkit-transform: translateX(250px);
           -moz-transform: translateX(250px);
            -ms-transform: translateX(250px);
             -o-transform: translateX(250px);
                transform: translateX(250px);
    }
    .socialTabs--noTransform .socialTabs-tab--open {
        padding-left: 250px;
    }
    .socialTabs-tab-content {
        top: -5px;
        cursor: default;
        position: relative;
        min-height: 100%;
        border-radius: 0 4px 4px 0;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 10px solid;
        background: #FFF no-repeat center center url(../images/socialtabs/loading.gif);
        background-clip: padding-box;
    }
        .socialTabs-tab-content-inner {
            position: relative;
        }
            .socialTabs-tab-content-inner div,
            .socialTabs-tab-content-inner iframe {
                background: #FFF;
                vertical-align: middle;
            }


    /* Facebook */

    .socialTabs-tab--facebook {
        background-image: url(../images/socialtabs/f.png);
    }
        .socialTabs-tab--facebook .socialTabs-tab-content {
            border-color: #345197;
            min-height: 278px;
        }


    /* Twitter */

    .socialTabs-tab--twitter {
        background-image: url(../images/socialtabs/t.png);
    }
        .socialTabs-tab--twitter .socialTabs-tab-content {
            border-color: #42BCE9;
            height: 319px;
        }


    /* YouTube */

    .socialTabs-tab--youtube {
        background-image: url(../images/socialtabs/y.png);
    }
        .socialTabs-tab--youtube .socialTabs-tab-content {
            border-color: #B31515;
            min-height: 118px;
        }


    /* Google+ */

    .socialTabs-tab--google {
        background-image: url(../images/socialtabs/g.png);
    }
        .socialTabs-tab--google .socialTabs-tab-content {
            border-color: #9E2318;
            min-height: 361px;
        }
        .socialTabs-tab--google .socialTabs-tab-content-inner {
            margin: -1px;
            height: 343px;
            overflow: hidden;
        }
        /* fix */
        .socialTabs-tab-content-inner div,
        .socialTabs-tab-content-inner iframe {
            position: static !important;
            height: 343px;
        }